@font-face {
    font-family: "TG Frekuent Mono Variable";
      src: url("fonts/TG-Frekuent-Mono-Variable.ttf") format("truetype"),
      url("fonts/TGFrekuentMonoVariable.woff2") format("woff2"),
      url("fonts/TGFrekuentMonoVariable.woff") format("woff"),
      url("fonts/TGFrekuentMonoVariable.eot") format("opentype"),
      url("fonts/TGFrekuentMonoVariable.svg") format("svg");
  }
  
  @font-face {
    font-family: 'TG Frekuent Mono Variable';
    font-weight: 200 800;
      src: url("fonts/TG-Frekuent-Mono-Variable.ttf") format("truetype"),
      url("fonts/TGFrekuentMonoVariable.woff2") format("woff2"),
      url("fonts/TGFrekuentMonoVariable.woff") format("woff"),
      url("fonts/TGFrekuentMonoVariable.eot") format("opentype"),
      url("fonts/TGFrekuentMonoVariable.svg") format("svg");
  }
  
  @font-face {
    font-family: "TG Frekuent Mono";
    font-weight: normal;
    src: url("fonts/TGFrekuentMono-Regular.ttf") format("truetype"),
      url("fonts/TGFrekuentMono-Regular.woff2") format("woff2"),
      url("fonts/TGFrekuentMono-Regular.woff") format("woff"),
      url("fonts/TGFrekuentMono-Regular.eot") format("opentype"),
      url("fonts/TGFrekuentMono-Regular.svg") format("svg");
  }
  
  @font-face {
    font-family: "TG Frekuent Mono";
    font-weight: bold;
    src: url("fonts/TGFrekuentMono-Bold.ttf") format("truetype"),
      url("fonts/TGFrekuentMono-Bold.woff2") format("woff2"),
      url("fonts/TGFrekuentMono-Bold.woff") format("woff"),
      url("fonts/TGFrekuentMono-Bold.eot") format("opentype"),
      url("fonts/TGFrekuentMono-Bold.svg") format("svg");
  }


body {
    font-family: 'Spectral', serif;
    font-weight: normal;
}

h1 {
font-family: "TG Frekuent Mono Variable", Courier, monospace;
color: #002aff;
}



@keyframes TG-animation {
    from {
      font-variation-settings: "wght" 300;
    }
    to {
      font-variation-settings: "wght" 800;
    }
  }
  
h8 {
    font-family: "TG Frekuent Mono Variable";
    transition: font-variation-settings 0.3s ease;
    animation-name: TG-animation;
    animation-duration: 12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: #002aff;
  }

  html {
    scroll-behavior: smooth;
  }

  .site-header {
    height: 0;
    z-index: 99999;
    position: relative;
  }

  .header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .site-title {
    font-family: "TG Frekuent Mono";
    color: #002aff;
  }

  .menu {
    padding-left: 0;
    margin: 0;
    display: flex;
    list-style: none;
  }
  
  .menu-item {
    margin-left: 15px;
    text-decoration: none;
    font-family: "TG Frekuent Mono";
    color: #002aff;
    font-size: 1.5rem;
  }

  .rss-inner-slider-item {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

  } 

  .downbutton {
    position: absolute;
    left: 50%;
    color: #FFFFFF!important;
    border-width: 0px!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    padding-left: 0.7em;
    padding-right: 0.7em;
    background-color: #002aff;
    transform: translate(-50%, -200%);
    z-index: 9999999;
    text-decoration: none;
    border-radius: 10%;
  }

  .upbutton {
    position: absolute;
    left: 50%;
    color: #FFFFFF!important;
    border-width: 0px!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    padding-left: 0.7em;
    padding-right: 0.7em;
    background-color: #002aff;
    z-index: 9999999;
    text-decoration: none;
    border-radius: 10%;
    transform: translate(-50%, 0%);
  }

  .downbutton a:visited {
    color: #FFFFFF;
  }

  .upbutton a:visited {
    color: #FFFFFF;
  }

  .downbutton h2 {
    font-family: "TG Frekuent Mono";
    font-size: 1rem;
  }

  .upbutton h2 {
    font-family: "TG Frekuent Mono";
    font-size: 1rem;
  }

  .hero {
    position: relative;
  }

  .slick-list .rss-inner-slider-item .slide .slick-current .slick-active .draggable {
    height: 100vh !important;
  }

  .rss-inner-page-slider-1, .sl-slider, .slick-list, .slick-track, .rss-inner-slider-item {
	height: 100vh !important;
}