@font-face {
    font-family: "TG Frekuent Mono Variable";
      src: url("fonts/TG-Frekuent-Mono-Variable.ttf") format("truetype"),
      url("fonts/TGFrekuentMonoVariable.woff2") format("woff2"),
      url("fonts/TGFrekuentMonoVariable.woff") format("woff"),
      url("fonts/TGFrekuentMonoVariable.eot") format("opentype"),
      url("fonts/TGFrekuentMonoVariable.svg") format("svg");
  }
  
  @font-face {
    font-family: 'TG Frekuent Mono Variable';
    font-weight: 200 800;
      src: url("fonts/TG-Frekuent-Mono-Variable.ttf") format("truetype"),
      url("fonts/TGFrekuentMonoVariable.woff2") format("woff2"),
      url("fonts/TGFrekuentMonoVariable.woff") format("woff"),
      url("fonts/TGFrekuentMonoVariable.eot") format("opentype"),
      url("fonts/TGFrekuentMonoVariable.svg") format("svg");
  }
  
  @font-face {
    font-family: "TG Frekuent Mono";
    font-weight: normal;
    src: url("fonts/TGFrekuentMono-Regular.ttf") format("truetype"),
      url("fonts/TGFrekuentMono-Regular.woff2") format("woff2"),
      url("fonts/TGFrekuentMono-Regular.woff") format("woff"),
      url("fonts/TGFrekuentMono-Regular.eot") format("opentype"),
      url("fonts/TGFrekuentMono-Regular.svg") format("svg");
  }
  
  @font-face {
    font-family: "TG Frekuent Mono";
    font-weight: bold;
    src: url("fonts/TGFrekuentMono-Bold.ttf") format("truetype"),
      url("fonts/TGFrekuentMono-Bold.woff2") format("woff2"),
      url("fonts/TGFrekuentMono-Bold.woff") format("woff"),
      url("fonts/TGFrekuentMono-Bold.eot") format("opentype"),
      url("fonts/TGFrekuentMono-Bold.svg") format("svg");
  }


body {
    font-family: 'Spectral', serif;
}

h1 {
font-family: "TG Frekuent Mono Variable", "TG Frekuent Mono", Courier, monospace;
}

@keyframes TG-animation {
    from {
      font-variation-settings: "wght" 300;
    }
    to {
      font-variation-settings: "wght" 800;
    }
  }
  
h8 {
    font-family: "TG Frekuent Mono Variable";
    transition: font-variation-settings 0.3s ease;
    animation-name: TG-animation;
    animation-duration: 12s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }